@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 900px;
    height: 600px;
    border-radius: 20px;
    padding: 40px 135px 78px;
    background: #FFF;
    box-shadow: 4px 10px 40px 20px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #3F4446;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s linear;
}

ul a:hover {
    border-bottom: 1px solid #000;
}

.unp-btn {
    
    margin: 65px 0 40px;
    display: flex;
    justify-content: space-between;
}
.inp-img {
    position: relative;
    display: flex;
    align-items: center;
}

.inp-img input {
    width: calc(100% - 30px); 
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 5px 0 0 5px; 
}

.inp-img img {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
}

.btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3F4446;
    color: white;
    cursor: pointer;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2,150px);
    gap: 15px;
}




